<% layout('layouts/boilerplate') %> 
<% function convertDate(date) {
    var yyyy = date.getFullYear().toString();
    var mm = (date.getMonth()+1).toString();
    var dd  = date.getDate().toString();
  
    var mmChars = mm.split('');
    var ddChars = dd.split('');
  
    return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
  }
   %> 

<div class="row">

    <h1 class="text-center mb-4">Student Details </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-7">
                        <form action="/adminpannel/s/<%= student._id %>?_method=PATCH" method="POST">
                            <div class="form-group row mb-3">
                              <label for="sname" class="col-sm-4 col-form-label">Name </label>
                              <div class="col-sm-8">
                                <input class="form-control form-control" type="text" id="sname" name="ss[name]"  value=<%=student.name  %> required  >
                              </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="fname" class="col-sm-4 col-form-label">Father Name  </label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="text" id="fname" name="ss[fatherName]" value=<%=student.fatherName  %> required >
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="mname" class="col-sm-4 col-form-label">Mother Name </label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="text" id="mname" name="ss[motherName]" value=<%=student.motherName  %> required  >
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="gender" class="col-sm-4 col-form-label">Gender </label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="gender"  name="ss[gender]"  required aria-label="Default select example">
                                        <option selected value="">Select</option>
                                        <option value="Male" <% if('Male'===student.gender){%>   Selected  <% } %> >Male</option>
                                        <option value="Female" <% if('Female'===student.gender){%>   Selected  <% } %> >Female</option>
                                       
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="dob" class="col-sm-4 col-form-label">Date of Birth</label>
                                <div class="col-sm-8">
                                    <input class="form-control " min = "2001-01-01"  max = "2017-01-01" value=<%= convertDate(student.dob) %> type="date" id="dob" name="ss[dob]" required  placeholder="DOB">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="class" class="col-sm-4 col-form-label">Class</label>
                                <div class="col-sm-8">
                                    <select class="form-select"id="class" name="ss[class]"  required aria-label="Default select example">
                                        <option selected value="">Select</option>
                                        <option value="1" <% if('1'==student.class){%>   Selected  <% } %> >1</option>
                                        <option value="2" <% if('2'==student.class){%>   Selected  <% } %> >2</option>
                                        <option value="3"  <% if('3'==student.class){%>   Selected  <% } %> >3</option>
                                        <option value="4"  <% if('4'==student.class){%>   Selected  <% } %> >4</option>
                                        <option value="5" <% if('5'==student.class){%>   Selected  <% } %> >5</option>
                                        <option value="6" <% if('6'==student.class){%>   Selected  <% } %> >6</option>
                                        <option value="7" <% if('7'==student.class){%>   Selected  <% } %> >7</option>
                                        <option value="8"  <% if('8'==student.class){%>   Selected  <% } %> >8</option>
                                        <option value="9"  <% if('9'==student.class){%>   Selected  <% } %> >9</option>
                                        <option value="10" <% if('10'==student.class){%>   Selected  <% } %> >10</option>
                                        <option value="11" <% if('11'==student.class){%>   Selected  <% } %> >11</option>
                                        <option value="12" <% if('12'==student.class){%>   Selected  <% } %> >12</option>
                                      </select>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="division" class="col-sm-4 col-form-label">Division</label>
                                <div class="col-sm-8">
                                    <select class="form-select" name="ss[division]" required aria-label="Default select example">
                                        <option selected value="">Select</option>
                                        <option value="A" <% if('A'===student.division){%>   Selected  <% } %>>A</option>
                                        <option value="B" <% if('B'===student.division){%>   Selected  <% } %> >B</option>
                                        <option value="C" <% if('C'===student.division){%>   Selected  <% } %> >C</option>
                                        <option value="D" <% if('D'===student.division){%>   Selected  <% } %> >D</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="mob" class="col-sm-4 col-form-label">Mobile No</label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="number" value=<%=student.mobileNo  %> id="fname" name="ss[mobileNo]"  required>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="add" class="col-sm-4 col-form-label">Address</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" type="text" id="description" name="ss[Address]"required  > <%=student.Address%></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group row mb-3">
                                <label for="status" class="col-sm-4 col-form-label">Status</label>
                                <div class="col-sm-8">
                                    <select class="form-select" name="ss[estatus]" required aria-label="Default select example">
                                        <option selected value="">Select</option>
                                        <option value="Active" <% if('Active'===student.estatus){%>   Selected  <% } %> >Active</option>
                                        <option value="InActive" <% if('InActive'===student.estatus){%>   Selected  <% } %> >InActive</option>
                                    </select>
                                </div>
                            </div>
                         
                            <button class="btn btn-info">Update</button>
                            
                            
                          </form>
                          

                          
                    </div>
                    <div class="col-md-4 ">
                        <div class="card mb-3">
                            <div class="card-body mb-3">
                                <div class="col text-center ml-10 mb-3">
                                    <img alt="Bootstrap Image Preview" src="https://cdn-icons-png.flaticon.com/512/747/747376.png"  width="100" height="100" class="rounded-circle" />
                                </div>
                 
                                <h5 class="card-title"> RegNo:&nbsp;&nbsp;<%=student.regno  %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">Date of Enrollment:&nbsp;&nbsp;<%=student.admissionDate.toDateString();  %></h6>
                                <div class="card-body text-center  ml-10">
                                    <form class="d-inline ml-3"action="/adminpannel/s/<%=student._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
        
                                    
                                 </div>
                 
                            </div>
                            
        
                        </div>

                       
                        
                        
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

</div>
